## ref : https://www.kaggle.com/aiswaryaramachandran/eda-baseline-model-0-40-rmse

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from math import sin, cos, sqrt, atan2, radians
pd.set_option('display.max_colwidth', None)

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import folium
plt.style.use('fivethirtyeight')

import datetime as dt
from datetime import datetime
import calendar

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip

## Load & Preprocess data

In [2]:
train = pd.read_csv('../input/nyc-taxi-trip-duration/train.zip')
test = pd.read_csv('../input/nyc-taxi-trip-duration/test.zip')

print('train.shape :', train.shape)
print('test.shape :', test.shape)
train.head(2)

train.shape : (1458644, 11)
test.shape : (625134, 9)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663

#### 1) Convert datatype

In [3]:
train.pickup_datetime = pd.to_datetime(train.pickup_datetime, format='%Y-%m-%d %H:%M:%S')
train.dropoff_datetime = pd.to_datetime(train.dropoff_datetime, format='%Y-%m-%d %H:%M:%S')

train.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663